.cloud {
    padding: 1.5rem 0;
    margin: 1.5rem 0;
    background-color: $primary_color;

    
}

.cloud_grid {
    display: grid;
    grid-template-columns: 4fr 3fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
    .clout_text {
        text-align: center;
        color: #ffffff;
        h2 {
            font-size: 3rem;
            font-weight: 300;
            margin: 10px 0;
        }
        p { 
            font-size: 20px;
            margin: 1rem;
            font-weight: 300;
        }
        a {
            padding: 10px 30px;
            background-color: #002240;
            border: none;
            color: #ffffff;
            border-radius: 5px;
            cursor: pointer;
            display: inline-block;
            font-weight: 300;
        }
    }
}