.lanuage {
    h2 {
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 10px;
    }
}
.language_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}
.language_card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;

    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
    h4 {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 300;
    }
    &:hover {
        transform: translateY(-15px);
    }
}
